@page "/ClassFee/Index"
@using MalaikaSchool.Data.Models

<h2>Index</h2>

<p>
    <NavLink href="/ClassFee/Create">Create New</NavLink>
</p>
<table class="table">
    <tr>
        <th>
           Class
        </th>
        <th>
            Admission Fee
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Amount
            </td>
         
            <td>
                <NavLink href="/ClassFee/Edit/{Id:int}" @key="@item.Id">Edit</NavLink>|
                <NavLink href="/ClassFee/Details" @key="@item.Id">Details</NavLink>|
                <NavLink href="/ClassFee/Delete" @key="@item.Id">Delete</NavLink>
            </td>
        </tr>
    }

</table>
@code {

    private List<ClassFee> Model;


    protected override  Task OnInitializedAsync()
    {
        Model = new List<ClassFee>();

        return base.OnInitializedAsync();
    }

}